<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="htto://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"  >
<div layout:fragment="body" class="container">
    <p th:text="${result}"></p>
    <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">

        <p th:if="${result}" th:text="${result}"></p>
        <!-- product -->
        <div  th:each="club :${clubs}" class="product-content product-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="https://www.bootdey.com/image/194x228/87CEFA" alt="194x228" class="img-responsive">
                        <span class="tag2 hot">
							HOT
						</span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-detail">
                        <h5 class="name">
                            <a th:href="@{/clubs/{clubId}(clubId=${club.id})}" th:text="${club.title}">
                                ${club.description} <span>Category</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span>$99</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p th:text="${club.description}"></p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="javascript:void(0);" class="btn btn-success">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>
</div>

</html>